{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<h1>
		{% comment %}
		From humanize apnumber
		Reference:	https://docs.djangoproject.com/en/1.9/ref/templates/builtins/
		{% endcomment %}
		{{ books.count|apnumber|title }} book{{ books.count|pluralize }}
	</h1>

	{% for book in books %}
		<h2><a href="{% url 'book-detail' book.pk %}">{{ book.title }} by {{ book.list_authors }}</a></h2>
		{% if book.is_favorite %}
			<span class="highlight">favorite</span>
		{% endif %}
		{{ book.review }}
		<p>Reviewed on {{ book.date_reviewed|date:"l jS F Y, P"}}</p>
	{% endfor %}
{% endblock %}