<!DOCTYPE html>
{% load humanize %}
<html>
<head>
	<title>Readit | Books List</title>
</head>
<body>

<h2>Book List</h2>
{% if request.user.is_authenticated %}
	<p>Hello {{ request.user.username|title }} . Welcome back! You were last logged in at {{ request.user.last_login|date:"D d M Y" }}</p>
{% else %}
	<p>Welcome Anonymous User</p>
{% endif %}

<main>
	<h1>
		{% comment %}
		From humanize apnumber
		Reference:	https://docs.djangoproject.com/en/1.9/ref/templates/builtins/
		{% endcomment %}
		{{ books.count|apnumber|title }} book{{ books.count|pluralize }}
	</h1>

	{% for book in books %}
		<h2>{{ book.title }} by {{ book.list_authors }}</h2>
		{% if book.is_favorite %}
			<span class="highlight">favorite</span>
		{% endif %}
		{{ book.review }}
		<p>Reviewed on {{ book.date_reviewed|date:"l jS F Y, P"}}</p>
	{% endfor %}
</main>

</body>
</html>